.user-listing{
    margin: 0;
    padding: 0;
}
.user-listing li{
    list-style-type: none;
    margin: 10px 0;
    background-color: #EEE;
}
.user-listing li:hover {
    color: #DDD;
    background-color: #0288d1;
}
.user-listing .text {
    position: relative;
}
.user-listing .single-user {
    display: inline-block;
    padding: 0.8em 0.7em 0 0.7em;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}

h2, #forms {
    text-align: center;
}
