<h3 class="center-align">{{title}}</h3>
<div class="divider"></div>
<form id="add-movie">
  <h5>Title:
  <input type="text" [(ngModel)]="mtitle" placeholder="The Godfather" />
   </h5>
  <h5>Year: 
  <input type="number" [(ngModel)]="year" placeholder="1972"/>
  </h5>
  <h5>Director: 
  <input type="text" [(ngModel)]="director" placeholder="Francis Ford Coppola"/>
  </h5>
  <button class="btn" (click)="add(mtitle, year, director)">Add Movie</button>
  <button class="btn" (click)="goBack()">Back</button>
</form>