<h3 class="center-align">{{title}}</h3>
<div class="divider"></div>
<div id="display-movie">
	<h5>Title: {{selectedmovie.mtitle}}</h5>
	<h5>Year: {{selectedmovie.year}}</h5>
	<h5>Director: {{selectedmovie.director}}</h5>
	<h5>Added by User: {{selectedmovie.user}}</h5>
</div>
<div class="divider"></div>
<form id="add-movie">
	<h3 class="center-align">Enter changes:</h3>
	<h5>Title:
		<input type="text" [(ngModel)]="selectedmovie.mtitle" placeholder="title" />
	</h5>
	<h5>Year:
		<input type="number" [(ngModel)]="selectedmovie.year" placeholder="year" />
	</h5>
	<h5>Director:
		<input type="text" [(ngModel)]="selectedmovie.director" placeholder="director" />
	</h5>
	<button class="btn" (click)="update(selectedmovie.id, selectedmovie.mtitle, selectedmovie.year, selectedmovie.director)">Save Movie</button>
	<button class="btn" (click)="goBack()">Back</button>
</form>