<h2>{{title}}</h2>
<h3>Double click to edit movies.</h3>
<div>
  <h3>Add a movie to the directory: <button (click)="gotoDetailEmpty()">Add Movie</button></h3>
</div>
<div>
  <form id="filter">
    <label>Filter movies by title:</label>
    <input type="text" [(ngModel)]="term" />
  </form>
</div>
<ul class="movie-listing">
  <li *ngFor="let movie of movies | filter:term" (click)="onSelect(movie)" [class.selected]="movie === selectedMovie" (dblclick)="gotoDetail(selectedMovie)">
    <div>
      <span class="single-movie">{{movie.id}}: ({{movie.year}}) {{movie.mtitle}}</span>
      <button (click)="delete(movie); $event.stopPropagation()">Delete</button>
    </div>
  </li>
</ul>