.nav-wrapper{
    background-color: #0288d1;
}

.collection-item:hover {
    color: white;
    background-color: #0288d1 !important;
}

.btn-flat:hover {
    color: white;
}

.directpadding {
    padding: 20px;
}