<div>
  <form>
    <h3 class="center-align">Sign Up</h3>
    <div class="divider"></div>
    <h5>*Email:
      <input type="text" [(ngModel)]="email" placeholder="email address" />
    </h5>
    <h5>Password:
      <input type="text" [(ngModel)]="password" placeholder="password" />
    </h5>
  </form>
  <button class="btn" (click)="register(email, password)">Sign Up</button>
  <button class="btn" (click)="goBack()">Back</button>
</div>
<p>* - Email address will be displayed in public. For demo purposes, use false email address. There is no validation.</p>